<div id=clinical1__ID>
    <div class="container" style='max-width:900px'>
      <div class="row">
        <div class='col '>
            <h1>ASTN<br></h1>
            <h6>The mission of the <span style='font-size: 1.2rem'>Australasian Sleep Trials Network</span> is to conduct and facilitate clinical trials of national and international significance that will have a major impact on sleep health. It will achieve this mission principally through investigator driven trials, funded by government or industry.</h6>
            <p>&nbsp;</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm col-lg-4 snip1552" id=shq_butt>
                        <h2>Sleep Health Questionnaire</h2>
                        <div class="card" >
                          <img class="card-img-top" src="http://127.0.0.1:8000/wappsystem/astn/components/questionnaire.png" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">Standardised Questionnaires</h4>
                            <p><span style='font-size: 9pt;line-height:0.8'>Comprehensive battery of sleep related questionnaires</span></p>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4 snip1552" id=aused_butt>
                        <h2>AusEd Driving Simulator</h2>
                        <div class="card" >
                          <img class="card-img-top" src="http://127.0.0.1:8000/wappsystem/astn/components/road.png" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">Assessment of fatigue</h4>
                            <p><span style='font-size: 9pt;line-height:0.8'>The AusEd driving simulator is sensitive to performance decrement from fatigue in the laboratory setting, potentially making it useful as a laboratory or office based test for fatigue risk management.</span></p>
                            <a href="#" class="btn btn-primary">Download Aused</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4 snip1552" id=neuro_butt>
                        <h2>Neurocognitive Test Battery</h2>
                        <div class="card" >
                          <img class="card-img-top" src="http://127.0.0.1:8000/wappsystem/astn/components/neuro.png" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <h4 class="card-title">Standardised Neurocognative Tests</h4>
                            <p><span style='font-size: 9pt;line-height:0.8'>Comprehensive battery of neurocognative tests</span></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
      </div>
    </div>
</div>
<script>
    $('#test__ID').on('click',function(e){
        $vm.load_module_v2('main',$vm.root_layout_content_slot,{});
    })
    $('#shq_butt').on('click',function(e){
        $vm.load_module_v2('main-sql',$vm.root_layout_content_slot,{});
    })
</script>

<style>
    #clinical1__ID h1{
        font-size: 60px;
        color: rgba(33, 33, 33, 0.8);
        font-weight: 400;
        /*text-transform: uppercase;*/
        text-align: center !important;
        font-family: "Roboto Slab", Arial, sans-serif;
    }
    #clinical1__ID h6,h4,h2{
        font-weight: 600;
        /*text-transform: uppercase;*/
    }
    #clinical1__ID{
        height:100%;
		display: flex;
		align-items: top;
        font-size: 12px;
        font-weight: 600;
        color: rgba(33, 33, 33, 1);
        text-align: center;
        padding-bottom:100px;
        font-family: "Nunito Sans", Arial, sans-serif;
    }
    @media screen and (max-width: 900px) {
        #health__ID h1{
            font-size: 40px;
        }
    }
</style>
